body
{
	font-family: 'Roboto', sans-serif;
	color: #333;
	background: #E6E7E8;
	margin: 0px;
	border-style: none;
}
a:link, a:active, a:visited
{
	color: #315e8a;
	text-decoration: none;
}
.linha
{
	width: 100%;
	margin: 0px;
	overflow: auto;
}
.header
{
	background: #004770;
	border-radius: 0px 0px 5px 5px;
	box-shadow: 1px 4px 10px grey;
}
.coluna
{
	padding: 0 10px;
	float: left;
}
.col1
{
	width: 10%;
}
.col2
{
	width: 20%;
}
.col3
{
	width: 30%;
}
.col4
{
	width: 40%;
}
.col5
{
	width: 50%;
}
.col6
{
	width: 60%;

}
.col7
{
	width: 70%;
}
.col8
{
	width: 80%;
}
.col9
{
	width: 90%;
}
.col10
{
	width: 100%;
}

.sem-padding
{
	padding: 0 !important;
}
.sem-margin
{
	margin: 0 !important;
}
.margin
{
	margin: auto;
}
h1,h2,h3,h4,h4,h5,h6
{
	font-weight: 500;
	margin: 15px 0 10px 0;
}
ul li,ol li
{
	margin-bottom: 5px;
}
ul.inline li, ol.inline li
{
	display: inline;
	margin-right: 15px;
}
ul.sem-marcador, ol.sem-marcador, li.sem-marcador
{
	list-style: none;
}
ul.inline li:last-child, ol.inline li:last-child
{
	margin-right: 0;
}
.conteudo-extra
{
	overflow: auto;
	margin: 0 auto;
	padding: 5px 0;
	background: #004770;
	color: white;
	border-radius: 5px 5px 0px 0px;
}
img 
{
	max-width: 100%;
	max-height: 100%;
}
.unb
{
	padding-top: 3%;
}
.footer
{
	background: #004770;
	color: white;
}
.logo
{
	position: relative;
	left: 5%;
	text-align: center;
	color: white;
	font-weight: 300;
	letter-spacing: -1px;
}
.menu
{
	position: relative;
	left: 1%;
	text-align: center;
	font-size: 100%;
}
#sections_bnt_holder
{
	float: left;
	width: 160px;
	height: 30px;
	margin: 8px 0px 0px 30px;
	font-size: 36px;
	color: #999;
	padding-left: 100%;
	padding-bottom: 10%;
}
#sections_bnt_holder > button
{
	position: relative;
	bottom: 4px;
	border-style: none;
	left: 80px;
	padding: 15px 20px 15px 20px;
	background:  #003554;
	border-radius: 8px 8px 8px 8px;
}
#sections_bnt_holder > button:hover
{
	border-radius: 8px 8px 8px 8px;
	border: none;
	background: #03263B;
	cursor: pointer;
}

#sections_panel
{
	position: absolute; 
	height: 10px;
	width: 320px;
	background: #00;
	top: 7%;
	left: 75%;
	
	overflow: hidden;
	z-index: 10000;
	transition: height 0.1s linear 0s;	
}
#sections_panel > div
{
	padding: 20px;
	height: 500px;
	width: 500px;
	margin: 10px;
	color: #FC0;
}

.inscrever
{
	color: gray;
	margin-bottom: 2%;
	font-size: 95%;
}
.col-sm-10
{
	padding: 0 !important;
	margin: 0 !important;
}
.botoes
{
	text-align: center;
	position: relative;
	left: 6%;
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 200px;

}
.botao
{
	border-radius: 10px 10px 10px 10px;
	background: #E6E7E8;
	border: none;
	color: #004770;

}
.nomes-turma
{
	position: absolute;
	top: 180px;
	left: 285px;
	font-size: 92%;
	line-height: 155%;
}
.indice
{
	position: absolute;
	top: 160px;
	left: 370px;
}
#c11:hover
{
    background-color:red;
}
.coluna-agenda
{
	background: #E6E7E8;
	text-align: right;
	font-weight: bold;

}
.tabela-agenda
{
	left: 38%;
	position: relative;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 10%;
	margin-bottom: 0;
}
.botao-agenda:hover
{
	background: gray;
	cursor: pointer;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.A{
  text-decoration: none;
  font-size: 70%;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.A:hover {
  color: #179b77;
}

.form {
  background: rgba(19, 35, 47, 0.9); 
  padding: 3%;
  max-width: 55%;
  margin: 0px 0;
  border-radius: 2%;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 10% 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 95%;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #0066A1;
  color: #ffffff;
}
.tab-group .active a {
  background: #004770; 
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

.H1{
  text-align: center;
  color: #ffffff;
  font-weight: 10%;
  margin: 0 0 10%;
}


.req{
    color: #1ab188;
    font-weight: bold;
}

.forgot{
    text-align: center;
    color: #ffffff;
    margin: 0px 0px 50px 0px;
}

div.info {
    color: pink;
    display: box;
    text-align: center;
    padding: 5px;
    margin-top: -20px;
    margin-bottom: 15px;
    border: 1px solid red;
    background: #66131c;
}

.Label{
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 80%;
}
.Label .req {
  margin: 2px;
  color: gray;			
}

.Label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
.Label.active .req {
  opacity: 0;
}

.Label.highlight {
  color: white;
}

.Input, .TextArea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
.Input:focus, .TextArea:focus {
  outline: 0;
  border-color: gray;
}

.TextArea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #004770;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

